<mat-toolbar id="toolbar">
  <div class="row d-flex w-full header-container">
    <div class="col-12 col-sm-6 d-flex p-b-8">
      <app-branding [showName]="showBrandName" [width]="brandWidth"/>
      <app-search class="w-full"></app-search>
    </div>
    <div class="col-12 col-sm-6 d-flex justify-content-end">
      <button mat-flat-button class="secondary-button">
        <mat-icon><img [src]="src" alt=""/></mat-icon>
        Écrire
      </button>
      <button mat-flat-button class="primary-button m-x-8">S'inscrire</button>
      <button mat-flat-button class="tertiary-button">Se connecter</button>
    </div>
  </div>
</mat-toolbar>
