footer {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 2rem;
  font-family: "Degular", sans-serif;
  font-size: 16px;
  line-height: normal;

  h4 {
    color: #F0CD65;
    letter-spacing: 2.4px;
    opacity: 1;
    text-transform: uppercase;
    font-size: 14px;
  }

  p {
    line-height: 2rem;
  }

  ul {
    list-style: none;
    padding: 0;
    color: white !important;

    li {
      letter-spacing: 2.8px;
      opacity: 1;
      padding-top: 8px;
      padding-bottom: 8px;

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white !important;

        img {
          margin-right: 8px;
        }
      }
    }
  }

  .partner {
    max-width: 96px !important;
  }

  .rights {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #abb8c3;
    font-size: 14px;

    p {
      display: flex;
      margin: 0;
      padding: 0.5rem 0 0.5rem 0;

      a {
        text-decoration: none;
        color: #abb8c3;
      }
    }
  }
}

@media (max-width: 600px) {
  footer {
    .rights {
      flex-direction: column;
      p {
        justify-content: center;
        display: flex;
        align-items: center;
      }
    }
  }
}
