<footer>
  <div class="w-full tex-left" style="max-width: 1024px;">
    <div class="row m-t-16">
      <div class="col-sm-12 col-md-4 mb-8">
        <div class="footer-item">
          <app-branding [showName]="true" [width]="258" color="white"/>
          <p>La communauté tech dédiée au développement et à l'innovation technologique.</p>
          <button mat-flat-button class="tertiary-button" style="outline: solid 2px #F0CD65">Posez vos questions
          </button>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 mb-8">
        <h4>NAVIGUER</h4>
        <ul>
          <li>🚀 Innovation</li>
          <li>📅 Événements</li>
          <li>💡 Technologie Émergente</li>
          <li>🌐 Transformation Digitale</li>
          <li>🚀 Entrepreneuriat</li>
          <li>🎧 Podcasts Tech</li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-4 mb-8">
        <h4>PROGRAMISTO</h4>
        <ul>
          <li>Qui sommes-nous ?</li>
          <li>Soumettre un projet</li>
          <li>Contactez-nous</li>
          <li>Carrières Jouer</li>
        </ul>
      </div>
    </div>
    <mat-divider class="m-y-24" role="separator" aria-orientation="horizontal"/>
    <div class="row">
      <div class="col-sm-12 col-md-4 mb-8">
        <h4>SUIVEZ-NOUS</h4>
        <div class="d-inline-flex">
          <a href="https://programisto.fr" target="_blank" class="m-r-8">
            <mat-icon>facebook</mat-icon>
          </a>
          <a href="https://programisto.fr" target="_blank" class="m-r-8">
            <mat-icon>camera_alt</mat-icon>
          </a>
          <a href="https://programisto.fr" target="_blank" class="m-r-8 linkedinWrapper">
            <span class="linkedin">in</span>
          </a>
          <a href="https://programisto.fr" target="_blank" class="m-r-8">
            <mat-icon>discord</mat-icon>
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 mb-8">
        <h4 style="letter-spacing: 3px;">NEWLSETTER</h4>
        <p>Restez au fait des dernières tendances technologiques avec Programisto</p>
        <mat-form-field appearance="outline" class="w-full m-b-24" style="max-width: 480px;">
          <mat-icon matSuffix class="sendIcon">send</mat-icon>
          <input matInput placeholder="Email">
        </mat-form-field>
      </div>
    </div>
    <mat-divider class="m-y-24" role="separator" aria-orientation="horizontal"/>
    <div class="row">
      <div class="col-12 col-md-4 m-b-8">
        <span class="f-s-12">Copyright 2024 © Programisto</span>
      </div>
      <div class="col-12 col-md-8 m-b-8">
        <span class="f-s-12">Confidentialité l Mentions légales</span>
      </div>
    </div>
  </div>
</footer>
