h1 {
  font-family: "Degular Black", sans-serif;
  font-size: 4.5rem;
  text-align: left;
  letter-spacing: 0;
  opacity: 1;
  line-height: 0.8;
}

h1.upper-line {
  color: white;
  margin: 24px 8px 0 8px;
}

h1.down-line {
  color: black;
  margin: 0 8px 24px 8px;
}
