@use '@angular/material' as mat;
@use '../style/badge';


.mat-accordion {
  .mat-expansion-panel:last-of-type .mat-expansion-panel-body {
        padding: 12px 24px 0 24px !important;
  }

  .mat-expansion-panel {
    border-radius: 0 !important;
    box-shadow: none;

    .mat-expansion-panel-header {
      padding: 12px 24px;
    }
  }
}

.mat-accordion .mat-expansion-panel a, .mat-expansion-panel-header {
  color: hsla(0, 0%, 40%, .85) !important;
  font-family: degular, sans-serif !important;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

.mat-accordion .mat-expansion-panel .mat-expansion-panel-body {
  padding: 8px 24px 8px 24px;
  min-height: 48px;
  align-content: center;
}
